
{% extends "base.html" %}

{% block content %}

<section class="text-gray-700 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Register as a Student</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Start Learning</p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
            <form action="" method="post">

                {{ form.csrf_token }}
        
            
          <div class="p-2 w-1/2">
            {{form.username(class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" ,placeholder="Enter Username") }}            

          </div>
          <div class="p-2 w-1/2">
            {{form.email(class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" ,placeholder="Enter Email") }}
            
          </div>

          <div class="p-2 w-1/2">
            {{form.track(class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" ) }}
            
          </div>

          <div class="p-2 w-full">
            {{form.password(class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" ,placeholder="Enter Password") }}
            {{form.Confirm_password(class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" ,placeholder="Confirm Password") }}
          </div>
          <div class="p-2 w-full">
            {{form.submit(class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" ) }}            
          </div>
        
        </form>
         

        </div>
        <br>
        <a href="/login" style="border-radius: 10px; border:2px solid black; padding:5px; background:black ; color:antiquewhite">Login</a>
      </div>
    </div>
  </section>

{% endblock %}